*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://img3.goodfon.ru/wallpaper/nbig/4/dd/abstract-colors-unreal-clouds-1927.jpg);
    background-size: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 2% 2%;
}
.logo{
    color: white;
    font-family:  'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
ul{
    width: 40%;

}
li{
    list-style: none;
    text-decoration: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
}
.nav-links a{
    text-decoration: none;
    font-family:  'Poppins', sans-serif;;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
button{
    border: 1px outset white;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 128, 128, 0);
    height: 30px;
    width: 150px;
    position: absolute;
    top: 550px;
    left: 550px;
}
